<html>
<head> 
<title> layouts </title>

<style type="text/css" >

H1 { position:fixed; top:0; bottom:10; left:100; margin:0; z-index:10 }

Div.one{ position: relative; top: 10; bottom: 200; right: 20; left: 60;}
p.one { position: absolute; top:200; }

Div.two{  width: 500;}
p.two{float:right; width: 300;} 
</style>

</head>
<body> 
<h1 align="center" style="color:red;"> POSITIONING THE ELEMENTS </h1>
<hr size="4" color="blue">

<h3> STATIC, RELATIVE, ABSOLUTE, FIXED </H2>
<hr size="2Px" color="black">

<DIV class="one">

<p> Elements in an ArrayList are actually objects. In the examples above, we created elements (objects) of type "String". Remember that a String in Java is an object (not a primitive type). To use other types, such as int, you must specify an equivalent wrapper class: Integer. For otherprimitive types, use: Boolean for boolean, Character for char, Double for double, etc:
</p>

<p > 
Another useful class in the java.util package is the Collections class, which include the sort() method for sorting lists alphabetically or numerically:
</p>

<p> The difference between a built-in array and an ArrayList in Java, is that the size of an array cannot be modified (if you want to add or remove elements to/from an array, you have to create a new one). While elements can be added and removed from an ArrayList whenever you
  want. The syntax is also slightly different:
</p>

<p> The ArrayList class has many useful methods. For example, to add elements to the ArrayList, use the add() method:To access an element in the ArrayList, use the get() method and refer to the index number:
</p>

t

<p> Elements in an ArrayList are actually objects. In the examples above, we created elements (objects) of type "String". Remember that a String in Java is an object (not a primitive type). To use other types, such as int, you must specify an equivalent wrapper class: Integer. For otherprimitive types, use: Boolean for boolean, Character for char, Double for double, etc:
</p>

<p> 
Another useful class in the java.util package is the Collections class, which include the sort() method for sorting lists alphabetically or numerically:
</p>

<p> The difference between a built-in array and an ArrayList in Java, is that the size of an array cannot be modified (if you want to add or remove elements to/from an array, you have to create a new one). While elements can be added and removed from an ArrayList whenever you
  want. The syntax is also slightly different:
</p>
</div>

<hr size="2Px" color="blue">

<h3> FLOAT </H2>
<hr size="2Px" color="black">
<Div class="two">

<p> The ArrayList class has many useful methods. For example, to add elements to the ArrayList, use the add() method:To access an element in the ArrayList, use the get() method and refer to the index number:
</p>

<p class="two"> Elements in an ArrayList are actually objects. In the examples above, we created elements (objects) of type "String". Remember that a String in Java is an object (not a primitive type). To use other types, such as int, you must specify an equivalent wrapper class: Integer. For otherprimitive types, use: Boolean for boolean, Character for char, Double for double, etc:
</p>

<p> 
Another useful class in the java.util package is the Collections class, which include the sort() method for sorting lists alphabetically or numerically:
</p>

<p> The difference between a built-in array and an ArrayList in Java, is that the size of an array cannot be modified (if you want to add or remove elements to/from an array, you have to create a new one). While elements can be added and removed from an ArrayList whenever you
  want. The syntax is also slightly different:
</p>
</div>

</body>
</html>
