*{
    top: 0;
    left: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* Header section  */
header {
    width: 100%;
    height: 8rem;
    background-color: #FFFFFF;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: rgb(38, 57, 77) 0rem 2rem 3rem -1rem; 
    position: fixed;
}

header .heading {
  flex-grow: 1;
  text-align: center;
  font-size: 7rem;
}

header .github {
    font-size: 2.5rem;
    margin-right: 2rem;
}

/* Main section  */
main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-content {
    width: 98%;
    border-radius: 2rem;
    border: 0.08rem solid black;
    margin-bottom: 2rem;
    font-size: 2rem;
    margin-top: 10rem;
    background-color: #cee4fbaa;
    box-shadow: rgba(0, 0, 0, 0.19) 0rem 1rem 2rem, rgba(0, 0, 0, 0.23) 0rem 0.6rem 0.6rem;
}

.section-content .project-name {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex-grow: 1;
   border-radius: 1rem;
   margin: 1.5rem;
   padding: 1rem;
   border: none;
   background-color: #FFFF;
   box-shadow: rgba(33, 32, 32, 0.15) 0rem 0.5rem 1.5rem 0rem;
}

.project-name legend {
    box-shadow: rgba(0, 0, 0, 0.24) 0rem 0.3rem 0.8rem;
    border-radius: 1rem;
    padding: 0.5rem;
    font-size: 1.5rem;
}

.project-name .link {
    align-self: flex-end;
    margin-top: -4.2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0rem 0.3rem 0.8rem;
    border-radius: 1rem;
    padding: 0.5rem;
    font-size: 1.5rem;
}

.project-name span {
    width: fit-content;
    border-radius:  1rem;
    font-weight: 600;
    padding: 1rem;
    margin-bottom: 1.5rem;
    font-size: 3rem;
    background-color: #cee4fb87;
    box-shadow: rgba(0, 0, 0, 0.4) 0rem 0.2rem 0.4rem, rgba(0, 0, 0, 0.3) 0rem 0.7rem 1.3rem -0.3rem, rgba(0, 0, 0, 0.2) 0rem -0.3rem 0rem inset; 
}

.project-name .bullet-points p::before {
    content: "\2743"; /* Unicode value for bullet point */
    color: black;
    margin-right: 1rem;
}

.project-name .bullet-points {
    align-self: self-start;
    margin-left: 5rem;
}

.bullet-points p {
    font-size: 2rem;
}



 /* Responsive Styling  */
@media (min-width: 2001px) {
    html {
        font-size: 85%;
    }
}

@media (min-width: 1500px) and (max-width: 2000px) {
    html {
        font-size: 75%;
    }
}

 @media (min-width: 992px) and (max-width: 1200px) {
    html {
        font-size: 50%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    html {
        font-size: 35%;
    }
}

@media (min-width: 601px) and (max-width: 767px) {
   html {
     font-size: 28%;
   }
}

@media (max-width: 600px) {
    html {
        font-size: 25%;
    }

    .project-name span {
        margin-top: 1.5rem;
    }

    .project-name legend, .link {
        font-size: 1.3rem;
    }

    .project-name .bullet-points {
        margin-left: 2rem;
    }
}

@media (max-width: 389px) {
    html {
        font-size: 23%;
    }

    .section-content {
        margin-top: 10rem;
    }

    .section-content .project-name {
        border: none;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .project-name legend {
        font-size: 1rem;
    }

    .project-name .link {
        font-size: 1rem;
        margin-top: -3.2rem;
    }

    .project-name span {
        margin-top: 1.5rem;
    }

    .project-name .bullet-points {
        margin-left: 2rem;
    }
}

@media (max-width: 319px) {
    html {
        font-size: 20%;
    }

    project-name .bullet-points {
        margin-left: 2rem;
    }
}

@media (max-width: 280px) {
    html {
        font-size: 15%;
    }
}
