*{
    margin: 0px;
    left: 0;
    top: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

/* **************************** */
/* Header Sytling */

.header {
    width: 100%;
    height: 10rem;
    background-color: #FFF5D6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgb(38, 57, 77) 0rem 2.0rem 3.0rem -1.0rem; 
    position: fixed;
    z-index: 100;
}

.header .name {
    font-size: 9.5rem;
    margin-right: 12.0rem;
    transition-duration: 1.4s;
}

.header .name:hover{
      transform: scaleX(1.1);
}

.header img {
      height: 8.5rem;
      border-radius: 50%;
      margin: 5.0rem;
}

/* Navbar Styling  */
.navbar {
    height: 7rem;
    width: 100%;
    background-color: #FFFAEB;
    margin-top: 12rem;
    gap: 5.0rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.4) 0rem 0.2rem 0.4rem, rgba(0, 0, 0, 0.3) 0rem 0.7rem 1.3rem -0.3rem, rgba(0, 0, 0, 0.2) 0rem -0.3rem 0rem inset;
}


/* left part of navbar  */
.navbar .left {
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;
}

.navbar .navItem {
    transition-duration: 1.4s;
}

.navbar .skill:hover{
    background-color: rgb(208, 197, 183);
    height: 4rem;
    width: 8.0rem;
    border-radius: 5em;
    text-align: center;
    padding-top: 0.5rem;
    transition: transform 1s ease-in-out;
    transform: scale(1.1);
}

.navbar .project:hover{
    background-color: rgb(208, 197, 183);
    height: 4rem;
    width: 10rem;
    border-radius: 5rem;
    text-align: center;
    padding-top: 0.5rem;
    transition: transform 1s ease-in-out;
    transform: scale(1.1);
}

.navbar .contactUs:hover{
    background-color: rgb(208, 197, 183);
    height: 4rem;
    width: 14rem;
    border-radius: 5rem;
    text-align: center;
    padding-top: 0.5rem;
    transition: transform 1s ease-in-out;
    transform: scale(1.1);
}

.left a {
    text-decoration: none;
    color: black;
    padding: 0.5rem;
}

/* right part of navbar  */
.navbar .right  fieldset {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.8rem;
    font-size: 2.0rem;
    margin-bottom: 1.0rem;
    border: 0.05rem solid black;
    border-radius: 1.0rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0rem 1.0rem 2.0rem, rgba(0, 0, 0, 0.23) 0rem 0.6rem 0.6rem;
}

fieldset .viewResume, .downloadResume {
    padding: 0.3rem;
    background-color: rgba(46, 53, 180, 0.863);
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0rem 1.0rem 2.0rem, rgba(0, 0, 0, 0.23) 0rem 0.6rem 0.6rem;
}

fieldset .viewResume {
    margin-right: 1.0rem;
}

fieldset a{
    text-decoration: none;
    color: white;
    padding: 0.5rem;
}

/* **************************** */
/* Main Styling */

 /* Inroduction Section */
.container {
    display:  flex;
    justify-content:space-around; 
    flex-direction: column;
    padding: 1.0rem;
    margin: 1.0rem;
    border-radius: 2.0rem;
    background-color:  #FFFAEB;
    border: 0.01rem solid black;
    border-left: 0.2rem solid black;
    border-right: 0.2rem solid black;
    margin: 2.0rem;
}

.container .greetings {
    font-size: 2.5rem;
    align-self: center;
}

.container .intro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

.intro .introStart {
    width: 60%;
    display: flex;
    flex-direction: column;
    font-size: 2.0rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

 /* Image section  */
.intro .image {
    width: 30%;
    height: 50rem;
    margin-bottom: 3rem;
}

.image img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    margin-top: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0rem 5.4rem 5.5rem, rgba(0, 0, 0, 0.12) 0rem -1.2rem 3.0rem, rgba(0, 0, 0, 0.12) 0rem 0.4rem 0.6rem, rgba(0, 0, 0, 0.17) 0rem 1.2rem 1.3rem, rgba(0, 0, 0, 0.09) 0rem -0.3rem 0.5rem;
}

/* Education Section */
.education {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: #FFFAEB;
    border-radius: 2.0rem;
    border: 0.01rem solid black;
    border-left: 0.2rem solid black;
    border-right: 0.2rem solid black;
    margin: 2.0rem;
}

/* Skills Section  */
.skills {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: 2.0rem;
    background-color: #FFFAEB;
    border-radius: 2.0rem;
    border: 0.01rem solid black;
    border-left: 0.2rem solid black;
    border-right: 0.2rem solid black;
    margin: 2.0rem;
}

.skills .section-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 2.0rem;
}

.skills .section-content .tech {
    border: 0.01rem solid black;
    border-radius: 1.0rem;
    margin: 2.0rem;
    padding: 2.0rem;
    font-size: 2.5rem;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.4) 0rem 0.2rem 0.4rem, rgba(0, 0, 0, 0.3) 0rem 0.7rem 1.3rem -0.3rem, rgba(0, 0, 0, 0.2) 0rem -0.3rem 0rem inset;
}

/* Projects Section  */
.projects {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: 2.0rem;
    background-color: #FFFAEB;
    border-radius: 2.0rem;
    border: 0.01rem solid black;
    border-left: 0.2rem solid black;
    border-right: 0.2rem solid black;
    margin: 2.0rem;
}

.section-content .project-name {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex-grow: 1;
   border: 0.1rem dotted black;
   box-shadow: rgba(33, 32, 32, 0.15) 0rem 0.5rem 1.5rem 0rem;
}

.projects .project-name span{
    border-radius:  1.0rem;
    font-weight: 600;
    padding: 1.0rem;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    border: 0.1rem dotted black;
    box-shadow: rgba(0, 0, 0, 0.4) 0rem 0.2rem 0.4rem, rgba(0, 0, 0, 0.3) 0rem 0.7rem 1.3rem -0.3rem, rgba(0, 0, 0, 0.2) 0rem -0.3rem 0rem inset; 
}

/* Achievements Section  */
.achievements {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: 2.0rem;
    background-color: #FFFAEB;
    border-radius: 2.0rem;
    border: 0.01rem dotted black;
    border-left: 0.2rem solid black;
    border-right: 0.2rem solid black;
    margin: 2.0rem;
}

.moreDetail {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.para, .leetcode, .hackerrank, .gfg{
    margin-right: 1.0rem;
}

.moreDetail .gfg img{
    height: 2.5rem;
}

/* common in all section  */
.section-heading {
    width: 100%;
    font-size: 2.5rem;
    padding: 1.0rem;
    margin-bottom: 2.0rem; 
    box-shadow: rgba(0, 0, 0, 0.19) 0rem 1.0rem 2.0rem, rgba(0, 0, 0, 0.23) 0rem 0.6rem 0.6rem;
}

 .section-content {
    width: 95%;
    border-radius: 2.0rem;
    border: 0.08rem solid black;
    margin-bottom: 2.0rem;
    font-size: 2.0rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0rem 1.0rem 2.0rem, rgba(0, 0, 0, 0.23) 0rem 0.6rem 0.6rem;
 }

 .section-content .box{
    border-radius: 1.0rem;
    margin: 1.5rem;
    padding: 1.0rem;
    border: 0.1rem dotted black;
    box-shadow: rgba(33, 32, 32, 0.15) 0rem 0.5rem 1.5rem 0rem;  
 }

 .moreDetail {
    font-size: 1.5rem;
    margin-bottom: 1.0rem;
 }

/* **************************** */
/* Footer Styling */

.footer {
    background-color: rgba(10, 13, 15, 0.698);
    display:  flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    color: white;
    padding: 1.0rem;
}

.footer .heading {
    font-size: 2.5rem;
}

.content {
    width: 100%;
    height: 10rem;
    font-size: 2.0rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 0.1rem solid white;
    margin: 1.0rem;
}

.content .phoneNo, .email {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.phoneNo > .number, .email > .id{
    padding: 1.0rem;
    font-size: 3.0rem;
    margin-bottom: 0.5rem;
}

footer a {
    text-decoration: none;
    color: white;
}

/* Responsive Styling  */
@media (min-width: 2001px) {
    html {
        font-size: 85%;
    }
}

@media (min-width: 1500px) and (max-width: 2000px) {
    html {
        font-size: 75%;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    html {
        font-size: 50%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
   html {
    font-size: 40%;
   }
}

@media (min-width: 601px) and (max-width: 767px) {
    html {
        font-size: 30%;
    }
}

@media (max-width: 600px) {

    html {
        font-size: 25%;
    }

    .header .name {
        font-size: 8rem;
        margin-right: 5rem;
    }

    .navbar {
        margin-top: 13rem;
    }

    .container .greetings {
        font-size: 3.2rem;
    }

    .container .intro {
        flex-direction: column-reverse;
    }

    .intro .image {
        width: 95%;
        height: 150rem;
        overflow: hidden;
    }

    .image img {
        object-fit: cover;
        border-radius: 10rem;
        box-shadow: rgba(99, 99, 99, 0.2) 0rem 0.2rem 0.8rem 0rem;
    }

    .intro .introStart {
        width: 95%;
        font-size: 2.5rem;
    }
}

@media (max-width: 389px) {

    html {
        font-size: 20%;
    }

    .navbar {
        margin-top: 13rem;
    }

    .container .greetings {
        font-size: 3.2rem;
    }

    .container .intro {
        flex-direction: column-reverse;
    }

    .intro .image {
        width: 95%;
        height: 130rem ;
        overflow: hidden;
    }

    .image img {
        object-fit: cover;
        border-radius: 10rem;
        box-shadow: rgba(99, 99, 99, 0.2) 0rem 0.2rem 0.8rem 0rem;
    }

    .intro .introStart {
        width: 95%;
        font-size: 2.5rem;
    }
}

@media (max-width: 319px) {

    html {
        font-size: 10%;
    }

    .navbar {
        margin-top: 13rem;
    }

    .container .greetings {
        font-size: 3.2rem;
    }

    .container .intro {
        flex-direction: column-reverse;
    }

    .intro .image {
        width: 95%;
        height: 150rem ;
    }

    .image img {
        object-fit: fill;
        border-radius: 10rem;
        box-shadow: rgba(99, 99, 99, 0.2) 0rem 0.2rem 0.8rem 0rem;
    }

    .intro .introStart {
        width: 95%;
        font-size: 2.5rem;
    }
}

@media (max-width: 235px){
    html {
        font-size: 10%;
    }
}

@media (max-width: 155px) {

    html {
        font-size: 7%;
    }

    .navbar {
        margin-top: 13rem;
    }

    .container .greetings {
        font-size: 3.2rem;
    }

    .container .intro {
        flex-direction: column-reverse;
    }

    .intro .image {
        width: 95%;
        height: 100rem ;
    }

    .image img {
        border-radius: 10rem;
        box-shadow: rgba(99, 99, 99, 0.2) 0rem 0.2rem 0.8rem 0rem;
    }

    .intro .introStart {
        width: 95%;
        font-size: 2.5rem;
    }
}