@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;900&family=Inter:wght@300;400;500;600;700&family=Mulish:wght@400;500;600;700;800;900;1000&family=Open+Sans:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,500&display=swap');

html {
    font-family: 'Inter', sans-serif; 
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #212121;
    color: white;
}

input:focus {
    border: none;
    outline: none;
}

#videos-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    color: white;
}

#comments {
    color: white;
}